<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="">
    <title>Title</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/share/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/layer/theme/default/layer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/layui/css/layui.css') }}">
</head>
<body>
{% if member %}
<form action="{{ url_for('manage.member.member_update') }}"  id="member_form" method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="{{ member.name }}" value="{{ member.name }}">
    </div>
    <div class="form-group col-md-4">
      <label for="en_name">EN_name</label>
      <input type="text" class="form-control" id="en_name" name="en_name" placeholder="{{ member.en_name }}" value="{{ member.en_name }}">
    </div>
  </div>
  <div class="form-group col-md-2">
    <label for="type">Type</label>
      <select id="type"  name="type" class="form-control">
        <option selected>{{ member.type }}</option>
        <option>teacher</option>
          <option>phd</option>
          <option>ms</option><option>bs</option><option>gr</option>

      </select>
  </div>
  <div class="form-group col-md-2">
    <label for="tilte">Title</label>
      <select id="title" name="title" class="form-control">
        <option selected>{{ member.title }}</option>
        <option>2020</option><option>2021</option><option>2022</option><option>2023</option><option>2024</option><option>2025</option><option>2026</option><option>2027</option>
      </select>
  </div>
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="img">Img </label><br>
        <img id="img" style="width: 200px;height: 200px" src={{ url_for("static",filename='images/members/'+member.en_name+'.png') }}>
    </div>
      <div class="form-group col-md-2">
    <button type="button" class="layui-btn" id="upload">
    <i class="layui-icon layui-icon-face-smile"></i>  上传图片
    </button><br>
          <i style="color: grey">请将图像剪裁成正方形再上传</i>
      </div>
    </div>
  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="url">Url</label>
      <input type="text" class="form-control" id="url" name="url" placeholder="{{ member.url }}" value="{{ member.url }}">
    </div>
  </div>
<div class="col-md-2 ">
  <button type="submit" class="btn btn-primary">确定修改</button>
{#    <button class="btn btn-default">取消</button>#}
    </div>
</form>
{% else %}
    <form action="{{ url_for('manage.member.member_add') }}"  id="member_form" method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="" >
    </div>
    <div class="form-group col-md-4">
      <label for="en_name">EN_name</label>
      <input type="text" class="form-control" id="en_name" name="en_name" placeholder="" onchange="change()" >
    </div>
  </div>
  <div class="form-group col-md-2">
    <label for="type">Type</label>
      <select id="type"  name="type" class="form-control">
        <option selected></option>
        <option>teacher</option>
          <option>phd</option>
          <option>ms</option><option>bs</option><option>gr</option>

      </select>
  </div>
  <div class="form-group col-md-2">
    <label for="tilte">Title</label>
      <select id="title" name="title" class="form-control">
        <option selected></option>
        <option>2020</option><option>2021</option><option>2022</option><option>2023</option><option>2024</option><option>2025</option><option>2026</option><option>2027</option>
      </select>
  </div>
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="img">Img </label><br>
        <img id="img" style="width: 200px;height: 200px" src="">
    </div>
      <div class="form-group col-md-2">
    <button type="button" class="layui-btn" id="upload">
    <i class="layui-icon layui-icon-face-smile"></i>  上传图片
    </button><br>
          <i style="color: grey">请将图像剪裁成正方形再上传</i>
      </div>
    </div>
  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="url">Url</label>
      <input type="text" class="form-control" id="url" name="url" placeholder="" value="">
    </div>
  </div>
<div class="col-md-2 ">
  <button type="submit" class="btn btn-primary">确认添加</button>
    {% if error %}
        <i style="color: red">{{ error }}</i>
    {% endif %}
{#    <button class="btn btn-default">取消</button>#}
    </div>
</form>
{% endif %}
<script src="{{ url_for('static',filename='/layui/js/layui.js') }}"></script>
<script src="{{ url_for('static',filename='/BJUI/js/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
<script>
    {% if member %}
    layui.use('upload', function(){
        var upload = layui.upload;
      //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            ,accept:'image',
             url: '/manage/member/member_img_upload' //上传接口
              ,data:{
                name:$('#en_name').attr('value')
              }
            ,done: function(res){
                layer.msg(res['state'])
                $('#img').attr('src',"{{ url_for("static",filename='images/members/')}}"+res['name']+'.png')
              //上传完毕回调
            }
            ,error: function(){
              //请求异常回调
            }
          });
});
    {% else %}
         function change(){
             var name = $('#en_name').attr('value')
             {#console.log("{{url_for("static",filename='images/members/')}}"+name+'.png')#}
             {#$('#img').attr('src',{{ url_for("static")}}+'images/members/'+name+'.png')#}
                layui.use('upload', function(){
                var upload = layui.upload;
              //执行实例
                var uploadInst = upload.render({
                    elem: '#upload' //绑定元素
                    ,accept:'image',
                     url: '/manage/member/member_img_upload' //上传接口
                      ,data:{
                        name:name
                      }
                    ,done: function(res){
                        layer.msg(res['state']);
                        if ('name' in res){
                            $('#img').attr('src',"{{ url_for("static",filename='images/members/')}}"+res['name']+'.png')
                        }
                        {#console.log("{{url_for("static",filename='images/members/')}}"+name+'.png')#}
                      //上传完毕回调
                    }
                    ,error: function(){
                      //请求异常回调
                    }
                  });
        });
    }
    {% endif %}

</script>

</body>
</html>